{% extends "base.html" %}

{% block title %}To Do List{% endblock %}

{% block content %}
<div class="container-fluid todo-list mx-auto">
    <h1>TO DO LIST</h1>
</div>
<div class="todo-table">
    <button type="button" class="btn btn-primary add-task" data-bs-toggle="modal" data-bs-target="#addModal">
        Add
    </button>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Task</th>
            <th scope="col">Status</th>
            <th scope="col">Edit</th>
            <th scope="col">Remove</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr>
            <th scope="row">{{ task.id }}</th>
            <td>{{ task.task }}</td>
            {% if task.status == 'Todo' %}
            <td><a class="btn btn-outline-secondary" href="{{ url_for('update_status', id=task.id) }}">Todo</a></td>
            {% elif task.status == 'In Progress' %}
            <td><a class="btn btn-outline-warning" href="{{ url_for('update_status', id=task.id) }}">In Progress</a></td>
            {% elif task.status == 'Completed' %}
            <td><a class="btn btn-outline-success" href="{{ url_for('update_status', id=task.id) }}">Completed</a></td>
            {% endif %}
            <td><a class="btn btn-outline-primary" href="{{ url_for('edit', id=task.id) }}"><i class="fa-solid fa-pencil"></i></a></td>
            <td><a class="btn btn-outline-danger" href="{{ url_for('delete', id=task.id) }}"><i class="fa-solid fa-trash-can"></i></a></td>
        </tr>
        {% endfor %}
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('add')}}" method="post">
                    <label for="taskInput" class="form-label">Task</label>
                    <input type="text" class="form-control" id="taskInput" name="task">
                    <input class="btn btn-primary " type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}